##
# IDEs and editors ignore patterns
.buildpath
.externalToolBuilders
.project
.settings/
*.swp

##
# Configuration
#
/conf/*.js
!/conf/*.default.js
!/conf/demo.js
/conf/*/*.ini
!/conf/*/*.default.ini
/conf/*/*.yml
!/conf/*/*.default.yml

##
# Logs
#
/logs

/cache
