
.media-grid img {
	width: 300px;
	height: auto;
}

.fork-me,
.fork-me * {
    display: none;
}

.tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 20px;
    line-height: 36px;
    margin-right: 2px;
    padding: 0 15px;
}

[class*="span"] {
  float: none;
  margin-left: 0px;
}

    .container .row .side {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    
    .container .row .content {
        width: 100%;
        float: none;
        margin-left: 0px;
    }

    #header {
        height: 137px;
    }
        #header h1 {
            margin: 0px auto;
            padding: 10px;
            font-size: 200%;
        }
    
        #header .logo {
           width: 100%;
           margin: 0px auto;
           height: auto;
           padding: 0px 0px 10px 0px;
        }
        
        #header .logo h1 {
            height: auto;
            padding: 14px 10px 6px;
        }
        
        #header .navigation {
	       width: 100%;
	       float: left;
	       clear: both;
	       margin: 0px;
	    }
        
        #header .beta {
            padding: 4px 10px; 
            text-align: center;
            width: 100px;
            right: 20px;
            left: auto;
            margin-left: 0;
        }
    
    #body {
        width: 100%;
    }
        #body .row {
        }
        
        #body .row .side {
            width: 100%;
            margin-left: 20px;
        }
        
        #body .row .content {
            width: 100%px;
            margin-left: 20px;
        }
        
    #footer {
        width: 100%;
    }

/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

    .container .row {
        width: auto;
    }

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container .row {
       width: 97%;
       margin-left: auto;
       margin-right: auto;
    }
}

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container .row {
       width: 97%;
       margin-left: auto;
       margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    .container .row {
       width: 97%;
       margin-left: auto;
       margin-right: auto;
    }