.fork-me img {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
}

.container {
	width: 100%;
	clear: both;
	padding: 18px 0px;
}
.container .row {
    width: 940px;
    margin: 0px auto 0px;
}

.container.image {
    margin-top: 30px;
    margin-bottom: 6px;
}

#header {
	height: 94px;
	background-color: rgb(232,232,232);
	border-bottom: 1px #DDD solid;
	margin-bottom: 28px;
	padding: 0px 0px;
}

	#header h1 {
		margin: 0px auto;
		padding: 10px;
		font-size: 26px;
		font-variant: small-caps;
	}
	   #header h1 b {
	       font-size: 30px;
	   }
	   #header h1 span {
	       font-variant: normal;
	   }

	#header .logo {
	   width: 220px;
	   float: left;
	   margin-left: 0px;
	   background-color: #7EA7E3;
	   text-align: center;
	   height: 104px;
	}
	   #header .logo h1 {
	       background-color: #5181C7;
	       color: #FFF;
	       border-bottom: 1px solid #3E67A3;
	       height: 74px;
	   }
	
	#header .navigation {
	   width: 620px;
	   float: left;
	   margin: 26px 0 0 100px;
	}
	
	#header .beta {
	    left: -150px;
	    margin-left: 50%;
	    padding: 4px 0px;
	    position: absolute;
	    text-align: center;
	}

#body {
	width: 940px;
}
    .container .row .side {
        width: 300px;
        float: left;
    }
    
    .container .row .content {
        width: 620px;
        float: left;
        margin-left: 20px;
    }

#body, #footer {
	clear: both;
	margin: 0px auto;
}

#body {
	padding: 10px 0px;
}

#footer {
	padding: 20px 0px 30px 0px;
}
